*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form, #search-output{
    width: 100vw;
    padding: 15px;
}

/* Filter (form)*/
form, #name, #note, #submit-btn, .collapsible{
    font-size: 1.1rem;
}

fieldset, #name, #note{
    margin-bottom: 10px;
}

fieldset{
    border: none;
}

fieldset input{
    display: none;
}

fieldset label{
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
    text-wrap: nowrap;
    height: fit-content;
}

fieldset input:focus + label{
    outline: 1px solid blue;
}

fieldset input:checked + label{
    background-color: rgb(131, 199, 165);
}

#submit-btn{
    width: 100%;
    padding: 5px;
}

.inline{
    display: inline-block;
    margin-right: 10px;
}

/*Results*/
#search-output{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.oil-info{
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
}

.oil-info .top, .oil-info .heart, .oil-info .base{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 5px;
    width: 20%;
    min-width: fit-content;
    border-radius: 10px 0 0 10px;
    font-size: 1.5rem;
}

.oil-info .top{
    background-color: rgb(234, 164, 176);
}

.oil-info .heart{
    background-color: rgb(255, 191, 71);
}

.oil-info .base{
    background-color: rgb(43, 104, 56);
    color: white;
}

/*Collapsible*/
.collapsible{
    width: 100%;
    text-align: left;
}

.content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*Slide animation*/
    overflow: hidden;
    height: 0;
    transition: height 0.4s ease;
}

/*Icons*/

/*Media Queries*/
@media only screen and (max-width: 900px){
    #search-output{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px){
    #search-output{
        grid-template-columns: repeat(1, 1fr);
    }
}