*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form, #search-output{
    padding: 15px;
}

/* Filter (form)*/
form, #name, #note, #submit-btn{
    font-size: 1.1rem;
}

fieldset, #name, #note{
    margin-bottom: 10px;
}

fieldset{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 5px 10px 0;
}

fieldset input{
    display: none;
}

fieldset label{
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
    text-wrap: nowrap;
}

fieldset input:focus + label{
    outline: 1px solid blue;
}

fieldset input:checked + label{
    background-color: rgb(131, 199, 165);
}

#submit-btn{
    width: 100%;
    padding: 5px;
}

.inline{
    display: inline-block;
    margin-right: 10px;
}

/*Results*/
#search-output{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 100vw;
}

.oil-info{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

@media only screen and (max-width: 700px){
    #search-output{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 450px){
    #search-output{
        grid-template-columns: repeat(1, 1fr);
    }
}